header
{
	/*background: #2b1e28;
	padding-top: 0px;
	padding-bottom: 0px;
	color: #816b78;
	border-bottom: 0px solid #3d303a;
	opacity:0.7;*/
		
}
.langu{
	margin-top:10%;
}

/*start search*/
.sb-search {
/*	position: absolute;*/
	top: 35px;
	width: 0%;
	min-width: 45px;
	height: 45px;
	/*float:right;*/
	overflow: hidden;
	-webkit-transition: width 0.3s;
	-moz-transition: width 0.3s;
	transition: width 0.3s;
	-webkit-backface-visibility: hidden;
}
.sb-search-input {
	background:#666;

	position: absolute;
	top: 0;
/*	left: 0px;*/
	right:0px;
	border: none;
	outline: none;
	/*background: #252525;*/
	/*width: 10%;*/
/*	height: 35px !important;*/
	margin: 0;
	z-index: 10;
	padding: 5px 10px;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	color: #fff;
}
.sb-search-input::-webkit-input-placeholder {
	color: #ffffff;
}
.sb-search-input:-moz-placeholder {
	color: #ffffff;
}
.sb-search-input::-moz-placeholder {
	color: #efb480;
}
.sb-search-input:-ms-input-placeholder {
	color: #ffffff;
}
.sb-icon-search,.sb-search-submit  {
	width: 45px;
	height: 32px;
	display: block;
	position: absolute;
	/*right: 0;*/
	top: 50px;
	padding: 0;
	margin: 0;
	line-height: 45px;
	text-align: center;
	cursor: pointer;
}
.sb-search-submit {
	/*#f53300*/
	background: #fff; /* IE needs this */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */
    filter: alpha(opacity=0); /* IE 5-7 */
    opacity: 0;
	color: transparent;
	border: none;
	outline: none;
	z-index: -1;
	-webkit-appearance: none;
}
.sb-icon-search {
	color: #fff;
	background: #333 url('../image/search.png') no-repeat 10px 5px;
	z-index: 90;
	left:81%;
}
/* Open state */
.sb-search.sb-search-open,.no-js .sb-search {
	
	width: 100%;
}
.sb-search.sb-search-open .sb-icon-search,.no-js .sb-search .sb-icon-search {
	background: #333 url('../image/search.png') no-repeat 10px 10px;
	color: #fff;
	z-index: 11;
	display:none;
}
.sb-search.sb-search-open .sb-search-submit,.no-js .sb-search .sb-search-submit {
	z-index: 90;
}



/*==============================*/
.top_bg{
	background-image:url(../image/top_head.jpg);
}
/*=======================================================*/
.clear{
	clear:both;
}
.translate{
	margin-top:2%;
}
.header_top{
	background:#000 !important;
/*	background:#2b1e28 !important;*/
	margin:0px !important;
	opacity:0.7;

   
}

.body_wap{
	/*background-color:#e5e5e5;*/
}
.head{
	margin-top:0px !important;
	height:10px;
}
.head_para{
	display:inline-block; 
	color:#fff; 
	font-size:14px; 
	float:right; 
	margin-right:5%;
	padding-top:10px;
}
.top_area{
	/*height:50px;*/
	background:#2b1e28;
	
}
.top_two{
	background:#000 !important;
	z-index:1100;
}
.logo_res{
	width:90%;
/*	padding-bottom:5px;*/
	padding:0px 0px;
	/*height:70px;*/
	margin-top:9px;
	float:right;
	margin-right:10px;
}
.nav_menu{
	float:right !important;
}
.nav_menu ul{
	/*margin-right:-20%;*/
	float:right !important;
}
/*.nav_menu ul li{
	margin-left:9px;
}*/
.nav_menu ul li a{
	padding-left: 8px;
	padding-right: 8px;
	color:#fff !important;
}
.navbar-nav > li > a
{
	/*padding-bottom: 39px;
	padding-top: 35px;
	
*/	/*color:#FFF;*/
z-index: 1000;
	padding-left: 10px;
	padding-right: 10px;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 12px;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > li > a
{
	/*color: #fff;*/
}
.navbar-default .navbar-nav > li.active > a:hover, .navbar-nav > li.active > a:focus, .navbar-nav > li.active > a:visited
{
	color: #E5E5E5 !important;
	background: #09F;
}
.navbar-default .navbar-nav > li > a:hover
{
	/*color: #ff6239;*/
	/*background: #09F;*/
}
.navbar-default .navbar-nav > li.active > a
{
	background:#09F;
	color: white;
}
.navbar-toggle
{
	border-radius: 0;
	margin-top: 50px;
	border:solid 1px #ff6239;
}
.slider_bg{
	margin-top:-1.6%;
}
.ticket_booking_1{
	/*width:30%;*/
	position: absolute;
/*	right:20px;*/
	margin-top:2%;
	
	
}
.ticket_btn_l{
	opacity:2 !important; 
	z-index:1000 !important;
}
.ticket_booking{
	width:30%;
	position: absolute;

	left: 50px;
	top:160px;
	
}
.ticket_btn{
	width:60% !important;
	font-size:24px !important;
	opacity:2 !important;
	
		
}
.flex{
	vertical-align:top;
	margin-top:-30.5%;
	width:100%;
	/*top:105px;*/
}
.flex-caption{
	
	/*position: absolute;*/
	background-color: rgba(0, 0, 0, 0.64);
	width:96% !important;
	/*height:100%;*/
  	
 	border-bottom-left-radius: 3px;
  	border-bottom-right-radius: 3px;
  	box-shadow: 0 0 8px rgba(0,0,0,.3);
}
.titel_1{
	padding:0px !important;
}
.titel_1 p{
	/*padding-top:3px;*/
	font-size:18px;
	color:#0099ff;
	padding:0px !important;
}
.titel_2{
	background:#0099ff;
	border-top-left-radius: 5px;
}
.titel_2 p{
	padding-top:3px;
/*	padding-bottom:5px;*/
}
.sub_titel{
	padding:0px !important;
/*	padding:5px 0;*/
	background:url(../image/subtitle_bg.png) no-repeat;
	background-color: rgba(0, 0, 0, 0.64);
	width:96% !important;
}
.sub_titel p{
	padding-top:3px;
	color:#FFF;
}

.flight_form form label{
	padding-left:0px;
	color:#FFF;
	font-weight:100;
}
.flex-caption h4, p{
	color:#FFF;
	padding-left:10px;
	
}
.form_con1{
	background:none;
	border:1px solid #666;
	padding:0px; margin:0px;
	margin-bottom:2px;
}
.form_con1 option{
	background-color:transparent;
	color:#000;
}
.form_con2{
	background:#fff;
	border:1px solid #666;
	padding:0px; margin:0px;
	margin-bottom:2px;
}
select .form_con2 option{
	color:#000 !important;
}
.form_con{
	width:100%;
	background:none;
	border:1px solid #666;
	margin-bottom:15px;
}
.form_con option{
	background-color:transparent;
	color:#000;
}
.btn-search{
	background-color: #f09949;
    color: #fff;
    border: 3px solid #fff;
    border-radius: 5px;
    margin-left:20%;
	width:150px;
	padding:10px 0px;
	}
.btn-search:hover,.btn-search:focus,.btn-search.focus,.btn-search:active,.btn-search.active{
	color:#fff;
	background-color:#ffb00d;
}
.light_btn{
  background-color: #f09949;
  width: 108px;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 2px;
  padding: 0px 0;
  outline: none;
  margin-left:15%;
}
.light_btn:hover{
	background-color: #ffb00d;
}
.form-control1{
display:block;width:100%;height:34px;padding:6px 12px;font-size:14px;line-height:1.42857143;color:#555;background-color:#fff;background-image:none;border:1px solid #ccc;border-radius:4px;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);-webkit-transition:border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;-o-transition:border-color ease-in-out .15s, box-shadow ease-in-out .15s;transition:border-color ease-in-out .15s, box-shadow ease-in-out .15s
}
.form-control1:focus{border-color:#66afe9;outline:0;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6)}
.slider_bottom{
	border-bottom:4px solid #09F;
	border-top:4px solid #09F;
	background:#06F;
	padding:15px 0 15px 0;
	/*margin-top:33%;*/

}
.slider_bottom h2{
	font-size:24px;
}
.slider_bottom p{
	font-size:16px;
}

.slider_bottom h2, p{
	color:#FFF;
}
.slider_social_icon{
	list-style:none;
	margin-bottom:3px;
}
.social_icon:hover{
	opacity:0.8;
}
/*-------------main boddy-------------*/
.para{
	color:#666;
	font-size:14px;
}
.pack{
	
}
.pack h3{
	font-size:32px;
	
}
.pack_1{
	background:#000;
	opacity:0.8;
	margin-left:5%;
	margin-right:5%;	
}
.pack_2{
	background:#000;
	opacity:0.8;
	margin-top:-15%;
	margin-left:5%;
	margin-right:5%;	
}
.pack_1 p{
	padding:10px 0 10px 0;
	text-align:center;
}
.pack_2 p{
	padding:10px 0 10px 0;
	text-align:center;
}
.days{
	color:#666;
	font-weight:bold;
	text-align:center;
	margin-top:5px;
}
.part_1{
	margin-top:5%;
}
.part_1 img{
	width:100%;
}
.package-ribbon-wrapper{
	bottom: auto;
	top: 22px;
	position: absolute;
	right: 0px;
	
}
.package-type{
	padding: 9px 12px;
font-size: 14px;
line-height: 1;
font-weight: bold;
background-color: #3389d7;


}
.package-type_1{
	padding: 8px 8px;
font-size: 14px;
line-height: 1;
font-weight: bold;
background-color: #3389d7;

}
.bottem_border_1{
	width: 0;
	height: 0;
	border-top:14px solid #333;
	border-right: 14px solid transparent;
	float: right;
	position: relative;
	margin-right: 1px;
	margin-top:0px;
}
.package-type_1 a{
	color:#FFF;
}

.package-type a{
	color:#FFF;
}
.bottem_border{
	width: 0;
	height: 0;
	border-top:15px solid #333;
	border-right: 15px solid transparent;
	float: right;
	position: relative;
	margin-right: 0px;
	margin-top:0px;
}

.bottom_imgs img{
	width:100%;
	margin:5%;
	padding:3%;
}
.bottom_imgs a img:hover{
	opacity:0.6;
}

/*------------right section------------*/
.right_top{
	
}
#search1{
	/*border:solid 1px red;*/
	position: relative;
	padding-right: 0px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 32px;
	width: 100%;
	margin-bottom: 0px;
	margin-top:20px;
	margin-left:-11px;
	
}
#search1 input[type="text"]{
	background: #fff;
	padding-top: 5px;
	width: 100%;
	color:  #000 !important;
	padding-left:5px;
	padding-bottom:5px;
}
#search1 a{
	position: absolute;
	top: 3px;
	right: 5px;
	width: 22px;
	height: 18px;
	background:url(../image/magnifier.png) no-repeat;
}
#search1 a:hover{
	cursor: pointer;
	background:url(../image/magnifier__hover.png) no-repeat;
}

#search input[type="text"]{
	background: transparent;
	border: 5px solid #FEF3FE;
	padding-top: 5px;
	width: 100%;
	color:  #686868 !important;
	padding-left:5px;
}
#search{
	/*border:solid 1px red;*/
	position: relative;
	padding-right: 0px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 32px;
	width: 100%;
	margin-bottom: 65px;
	margin-top:50px;
	margin-left:0px;
	
}
#search a{
	position: absolute;
	top: 6px;
	right: 12px;
	width: 22px;
	height: 18px;
	background:url(../image/magnifier.png) no-repeat;
}
#search a:hover{
	cursor: pointer;
	background:url(../image/magnifier__hover.png) no-repeat;
}

.search-results_title{
	margin-top: 50px;
}

.second_slide img{
	width:100%;
	padding:2%;
}
.right_tow{
	padding:5px;
}
.boder{
	background:#E4E4E4;
	width:100%;
	height:3px;
	margin:0px 5px 0 5px;
}
.booking img{
	width:95%;
	margin-top:5%;
}
.brochure{
	margin-top:5%;
}
.brochure img{
	width:95%;
	margin-top:5%;
}


/*----------footer section-------------*/
.footer{
	background:#323232;
}
.footer_tow{
	margin-top:1%;
}
.footer_top{
	border-bottom:1px solid #000;
}
.footer_head h3{
	color:#06F;
	
}
.footer_para{
	padding-top:15px;
}
.footer_para p{
	font-size:16px;
	font-weight:600;
	
}
.footer_para p a{
	text-decoration:none;
	color:#fff !important;
}
.footer_para p.days_2{
	font-size:12px !important;
	color:#666;
	font-weight:100;
	text-align:left;
	margin-top:5px;
}
.footer_para_tow img{
	float:left;
	width:20%;
	border:3px solid #474747;
}
.footer_para_tow p{
	padding-left:5px;
	float:left;
}
.footer_para_tow p a{
	color:#fff;
}
.footer_cont p{
	line-height:.9em;
	color:#999;
	font-weight:100 !important;
}
.footer_cont img{
	width:30%;
	margin:auto 20% auto 25%;
}
.wel_social_icon{
	margin-bottom:10px;
}
.wel_social_icon ul{
	padding:0px;
	margin:0px;
}
.wel_social_icon ul li{
	width:13%;
	display:inline-block;
	padding:0px;
	margin:0px;
}
.wel_social_icon ul li a{
	padding:0px;
	margin:0px;
}
.wel_social_icon ul li a img{
	 width:85%;
	 padding:0px;
	margin:0px;
	border-radius:3px;
}
.wel_social_icon ul li a img:hover{
	opacity:0.7;
}
.copy{
	padding-top:3px;
	padding-bottom:10px;
}
/*===========end of footer section==========*/

/*about section*/
.head_about h1{
	padding-left:20px;
	color:#FFF;
	font-family:"Times New Roman", Times, serif;
}
.head_about h5{
	padding-left:20px;
	color:#FFF;
	font-family:"Times New Roman", Times, serif;
}
.about_com img{
	width:20%;
}
/*===== end of about =====*/

/*=====Sri lanka=======*/
.main_sl{
}
.main_sl img{
	float:right;
	
}
.para_sl{
	/*width:60%;*/
}
.sl_img{
	float:right;
	top:0px;
}
/*===== end of sri lanka =====*/
/*========= packages =========*/
.package_left{
}
.packages p{
	color:#333;
}
.package_left h2{
	color:#03F;
}
.package_left p{
	color:#666;
}
.packages img{
	width:100%;
	padding:10px 30px 0 0;
	
}
.package-ribbon-wrapper_2{
	bottom:auto;
	top:39%;
	position: absolute;
	right: 30px;
	
}
/*.package-type{
	padding: 9px 12px;
font-size: 14px;
line-height: 1;
font-weight: bold;
background-color: #3389d7;

}*/
.package-type a{
	color:#FFF;
}

/*===========Air ticket section==========*/
#air_ticket{
	background:url(../image/Mountain1.jpg);
}
.ticket_form span{
	color:#333;
	
}
.ticket_form h3{
	color:#FFF;
}
.air_bg h3{
	color:#FFF;
	/*background:#000;*/
	
}
.ticket_form span select{
	color:#000;
	height:30px;
	width:100%;
}
.ticket_form span input.radio_btn{
	color:#CCC;
	margin-left:10%;
}
.form_1{
	width:100% !important;
	height:30px;
	color:#999;
}
.class{
	width:40% !important;
	height:30px;
	border:1px solid #666;
}
/*.ticket_form{
	z-index:999;
}*/
/*========= outbound =========*/
.slider_bottom_2{
	border-bottom:4px solid #06F;
	border-top:4px solid #09F;
	
}
.outbound p{
	color:#999;
}
.outbound h2{
	color:#06F;
}
/*========= careers =========*/
.careers p{
	color:#666;
}
.join{
	border-bottom:1px solid #333;
	padding-bottom:20px;
}
.join p{
	color:#666;
}
.market{
	margin-top:3%;
}
.market h3{
	text-decoration:underline;
}
.market h4{
	padding:10px 0 10px 0;
}
.ticket h3{
	text-decoration:underline;
}
.ticket h4{
	margin-top:3%;
}


/*.textbd::-webkit-input-placeholder {
	color: #ccc;
}
.textbd:-moz-placeholder {
	color: #ccc;
}
.textbd::-moz-placeholder {
	color: #ccc;
}
.textbd:-ms-input-placeholder {
	color: #ccc;
}*/
#form input[type="text"] {
  color: #ccc;
}
#form input[type="email"] {
  color: #ccc;
}
/*======contact=============*/
.contact{
	
	margin-top:4%;
}
.text-feld{
	width:80% !important;
	border-radius:0px !important;
}
.com_map{
}
.the-legend {
	background:none !important;
    border-style: none !important;
    border-width: 0px;
    font-size: 24px;
    line-height: 20px;
    margin-bottom: 30px;
	text-align:left !important;
	padding-left:10px;
	
}
.the-fieldset {
	border-radius:0px !important;
	border-bottom:none !important;
	border-right:none !important;
	border-left:none !important;
	background:none !important;
   /* border: 2px groove threedface #444;
    -webkit-box-shadow:  0px 0px 0px 0px #000 !important;
            box-shadow:  0px 0px 0px 0px #000 !important;*/
}
/*=======booking===========*/
.booking_2{
	border:1px solid #CCC;
	margin-top:2%;
}
.booking_bd{
	padding:5px;
}
.textbd{
	border-radius:0px !important;
	background:#fff;
	border:1px solid #666;
}
.booknow_btn{
	padding:10px 15px;
	background: -webkit-linear-gradient(#53bddc, #2aabd2); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#53bddc, #2aabd2); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#53bddc, #2aabd2); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#53bddc, #2aabd2); /* Standard syntax (must be last) */
	color:#fff;
	border:solid 1px #28a4c9;
	border-radius:5px;
	margin-left:10px;
}
.booknow_btn:hover{
	padding:10px 15px;
	opacity:0.9;
	color:#000;
	border:solid 1px #28a4c9;
	border-radius:5px;
	margin-left:10px;
	text-decoration:none;
}
@media only screen and (max-width : 1270px) {
.slider_hi .active img{
	height:435px !important;
}
.flex{
	margin-top:-400px;
}


}
@media only screen and (max-width : 1012px) {
	.nav_menu ul li a{
	padding-left: 15px;
	padding-right: 15px;
}
}

/*@media only screen and (max-width : 1200px) {
.flex{
	margin-top:-33%;
}
}
@media only screen and (max-width : 1167px) {
.flex{
	margin-top:-35%;
}
@media only screen and (max-width : 1100px) {
.flex{
	margin-top:-37%;
}
}
@media only screen and (max-width : 1040px) {
.flex{
	margin-top:-39%;
}
}
*/
@media only screen and (max-width : 991px) {
.slider_hi .active img{
	height:auto !important;
}
}
@media only screen and (max-width : 540px) {
.logo_res{
	width:130%;
}
.con{
	display:none;
}
.navigetion{
	
	float:right !important;
}
}
